body {
	overflow: hidden;
	display: inline-block;
	width: 99.5%;
	height: 99.5%;
	padding: 0;
	margin: 0;
	background-color: darkgray;
}

#searchbox {
	background-image: url('search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 88%;
	font-size: 14px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin: 0px;
	margin-bottom: 2px;
	background-color: lightgray;
}

#myUL {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li {
	/*background-color: #eee; /* Add a hover effect to all links, except for headers */
	display: block;
	color: black;
	/* background: lightgray; */
	text-align: left;
	text-decoration: none;
	padding: 8px 20px 8px 40px; /* Add some padding */
	margin-bottom: 2px; /* Add some space below the input */
}

#hash {
	display:none;
	visibility:hidden;
}

#searchcombo {
	display: block;
	height: 250px;
	overflow: auto;	
}

#searchdetails {
	display: block;
	border: 1px solid #ddd;
	background-color: darkgray;
}

.selected{
	/* border-left: 2px solid blue; */
	background-color: lightskyblue;
}

.button {
	background-color: #ddd; /* grey */
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-bottom:  10px;
  }

  #box-search {
	display: block;
	border: 2px solid lightgrey;
	background-color: darkgray;
	padding: 15px;
	margin: 15px;
	top: 15px;
	left: 15px;
	bottom: 15px;
	right: 15px;
  }

  #box-addnew {
	display: none;
	border: 2px solid lightgrey;
	background-color: darkgray;
	position: absolute;
	padding: 15px;
	margin: 15px;
	top: 15px;
	left: 15px;
	bottom: 15px;
	right: 15px;
  }

  #code {
	width: 88%; /* Full-width */
	height: 150px;
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 20px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 2px; /* Add some space below the input */
  }

  #title {
	width: 88%; /* Full-width */
	font-size: 14px; /* Increase font-size */
	padding: 12px 20px 12px 20px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 2px; /* Add some space below the input */
  }