#myInput {
	background-image: url('search.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 2px; /* Add some space below the input */
}

#myUL {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li {
	/*background-color: #eee; /* Add a hover effect to all links, except for headers */
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	padding: 8px 20px 8px 40px; /* Add some padding */
	margin-bottom: 2px; /* Add some space below the input */
}

#hash {
	display:none;
	visibility:hidden;
}

#searchcombo {
	display: block;
	border: 1px solid #ddd;
}

#searchdetails {
	display: block;
	border: 1px solid #ddd;
}
.selected{
    color: blue;
    border-left: 4px solid blue;
}

.button {
	background-color: #ddd; /* grey */
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-bottom:  10px;
  }

  #addnew {
	display: none;
	border: 2px solid blue;
	background: white;
	position: absolute;
	padding: 15px;
	margin: 15px;
	top: 15px;
	left: 15px;
	bottom: 15px;
	right: 15px;
  }

  #code {
	width: 100%; /* Full-width */
	height: 150px;
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 20px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 2px; /* Add some space below the input */
  }

  #title {
	width: 100%; /* Full-width */
	font-size: 14px; /* Increase font-size */
	padding: 12px 20px 12px 20px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 2px; /* Add some space below the input */
  }