/* colours 
lighter 
 #dbe5ff
 #678ffe
 #0247fe
 #012998
 #091534 
darker */

body {
	background-color: #678ffe;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu {
	background-color: #012998;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	padding: 2px 2px 2px 10px;
}

.button {
	border: 1px solid #012998;;
	background-color: #dbe5ff;
	color: #091534;
	font-size: 16px;
	padding: 10px;
}

#varsButtons {
	right: 0px;
	position: absolute;
}

#footer {
	display: none;
	bottom: 0;
	width: 100%;
	left: 0;
	position: fixed;
	padding: 10px;
	border: 2px solid lightgrey;
}

#box-search {
	bottom: 15px;
	left: 15px;
	margin: 15px;
	padding: 15px;
	right: 15px;
	top: 15px;
}

#box-addnew {
	background-color: #c7d3f5;
	border: 2px solid #c7d3f5;
	bottom: 15px;
	box-sizing: border-box;
	display: none;
	left: 15px;
	margin: 15px;
	position: absolute;
	padding: 15px;
	right: 15px;
	top: 15px;
}

#code {
	background-color: #dbe5ff;
	border: 1px solid #012998; /* Add a grey border */
	font-size: 16px; /* Increase font-size */
	height: 150px;
	margin-bottom: 2px; /* Add some space below the input */
	padding: 12px 20px 12px 20px; /* Add some padding */
	width: 88%; /* Full-width */
}

#title {
	background-color: #dbe5ff;
	border: 1px solid #012998; /* Add a grey border */
	font-size: 14px; /* Increase font-size */
	margin-bottom: 2px; /* Add some space below the input */
	padding: 12px 20px 12px 20px; /* Add some padding */
	width: 88%; /* Full-width */
}

#faded {
	display: none;
	color: darkgray;
	float: right;
	height: 1em;
	top: 0px;
}

#searchbox {
	background-color: #dbe5ff;
	background-image: url('search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	padding: 10px;
	padding-left: 45px;
}


#variable-list {
	height: 80%;
}

#box-vars {
	background-color: #dbe5ff;
	border: 2px solid #012998;
	display: none;
	height: 70%;
	margin: 10px;
	padding: 10px;
	position: absolute;
	top: 5%;
	width: 90%;
}

label.varList {
	width: 100%;
	margin-top: 10px;
	/* padding: 5px; */
}

input.varList {
	width: 300px;
	padding: 10px;

}

/*the container must be positioned relative:*/
.autocomplete {
	display: inline-block;
	position: relative;
	width: 90%;
}

input {
	background-color: #c7d3f5;
	border: 1px solid transparent;
	font-size: 16px;
	padding: 10px;
}

input[type=text] {
	background-color: #dbe5ff;
	border: 1px solid #091534;
	font-size: 14px;
	width: 650px;
}

.autocomplete-items {
	border: 1px solid #dbe5ff;
	border-bottom: none;
	border-top: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 99;
}

.autocomplete-items-div {
	background-color: #dbe5ff; 
	background-image: url('search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #091534; 
	cursor: pointer;
	font-size: 14px;
	padding: 10px;
	padding-left: 40px;
	width: 100%;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #c7d3f5; 
	color: #012998; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: #012998 !important; 
	color: #c7d3f5; 
}

.searchinfo {
	padding-left: 10px;
	margin-bottom: 5px;
	color: #6d8ee8;
	overflow: hidden;
}

.searchtag {
	float: left;
	width: 25%;
}

.searchcmd {
	float: left;
	width: 75%;
}