/* colours 
lighter 
 #dbe5ff
 #678ffe
 #0247fe
 #012998
 #091534 
darker */

body {
	background-color: #678ffe;
	margin: 0;
	padding: 0;
	overflow: clip;
}

#menu {
	background-color: #012998;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	padding: 2px 2px 2px 10px;
}

.button {
	border: 1px solid #012998;
	background-color: #dbe5ff;
	color: #091534;
	font-size: 16px;
	padding: 10px;
}

input {
	background-color: #c7d3f5;
	border: 1px solid transparent;
	font-size: 16px;
	padding: 10px;
}

input[type=text] {
	background-color: #dbe5ff;
	border: 1px solid #091534;
	font-size: 14px;
	width: 600px;
}

/* 
### add new 
*/
/* add new item form */
#box-addnew {
	background-color: #c7d3f5;
	border: 2px solid #c7d3f5;
	bottom: 15px;
	box-sizing: border-box;
	display: none;
	left: 15px;
	margin: 15px;
	position: absolute;
	padding: 15px;
	right: 15px;
	top: 15px;
}
/* add new item code box */
#code {
	background-color: #dbe5ff;
	border: 1px solid #012998; /* Add a grey border */
	font-size: 16px; /* Increase font-size */
	height: 150px;
	margin-bottom: 2px; /* Add some space below the input */
	padding: 12px 20px 12px 20px; /* Add some padding */
	width: 88%; /* Full-width */
}
/* add new item title (name) box */
#title {
	background-color: #dbe5ff;
	border: 1px solid #012998; /* Add a grey border */
	font-size: 14px; /* Increase font-size */
	margin-bottom: 2px; /* Add some space below the input */
	padding: 12px 20px 12px 20px; /* Add some padding */
	width: 88%; /* Full-width */
}
/* command type dropdown box */
#cmdtypselect {
	border: 1px solid #012998;
	background-color: #dbe5ff;
	color: #091534;
	padding: 2px; /* Add some padding */
	margin-bottom: 10px;
}


/* 
### run with args 
*/
/* run with args div box */
#argument-list {
	height: 80%;
}

/* run with args form */
#box-vars {
	background-color: #dbe5ff;
	border: 2px solid #012998;
	display: none;
	height: 70%;
	margin: 10px;
	padding: 10px;
	position: absolute;
	top: 5%;
	width: 90%;
}
/* run with args buttons */
#varsButtons {
	right: 0px;
	position: absolute;
}
/* run with arguments, arg label */
label.varList {
	width: 100%;
	margin-top: 10px;
	/* padding: 5px; */
}
/* run with arguments, arg text box */
input.varList {
	width: 300px;
	padding: 10px;

}

/* 
###Search box 
*/
/* div that holds the search box */
#box-search {
	bottom: 15px;
	left: 15px;
	margin: 15px;
	padding: 15px;
	right: 15px;
	top: 15px;
}
/* the search box its-self */
#searchbox {
	background-color: #dbe5ff;
	background-image: url('search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	padding: 10px;
	padding-left: 45px;
}

/*the container must be positioned relative:*/
.autocomplete {
	display: inline-block;
	position: relative;
	width: 80%;
}
/* search results item */
.listitem-div {
	background-color: #dbe5ff; 
	background-image: url('search.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #091534; 
	cursor: pointer;
	font-size: 14px;
	padding: 10px;
	padding-left: 40px;
	width: 100%;
}
/* search results inner-div */
.searchinfo {
	background-color: transparent;
	padding-left: 25px;
	margin-bottom: 5px;
	/* color: #6d8ee8; */
	overflow: hidden;
}
/* search results item matching tags */
.searchtag {
	background-color: transparent;
	float: left;
	width: 25%;
}
/* search results item cmd to run */
.searchcmd {
	background-color: transparent;
	color: #6d8ee8;
	float: left;
	margin-left: 5px;
	width: 75%;
}

.searchcmdtype {
	border: 0px;
	float: right;
	font-weight: bold;
	margin-right:15px;
	padding: 2px 4px 2px 4px;
}
.searchcmd_bash {
	background-color: darkred;
	color: white;
}
.searchcmd_powershell {
	background-color: royalblue;
	color: white;
}
.searchcmd_dos {
	background-color: yellowgreen;
	color: black;
}


.ui-menu .ui-menu-item a {
    color: #012998;
    border-radius: 0px;
}

.ui-autocomplete {
	max-height: 300px;
	max-width: 90%;
	overflow-y: clip;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 300px;
	width: 1px;
}